{% extends "shop/base.html" %}
{% block title %}Войти в аккаунт{% endblock %}

{% block content %}
  <div class="login">
    <h2>Войти</h2>
    {% if form.errors %}
      <p>Имя или пароль указаны неверно</p>
    {% else %}
      <p>Введите данные, чтобы войти</p>
    {% endif %}
    <form class="login-form" action="{% url 'account:login' %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}" />
      <input type="submit" value="Войти">
    </form>
  </div>
{% endblock %}
