{% extends 'shop/base_2.html' %}
{% load crispy_forms_tags %}

{% block title %}Оформление заказа{% endblock %}

{% block content %}
  <div class="container mt-4">
    <div class="row">
        <div class="col-6-md">
          <form action="." method="post">
              <p>{{ form.first_name|as_crispy_field }}</p>
              <p>{{ form.last_name|as_crispy_field }}</p>
              <p>{{ form.email|as_crispy_field }}</p>
              <p>{{ form.phone_number|as_crispy_field }}</p>
              <p>{{ form.address|as_crispy_field }}</p>
              <p>Выберите способ доставки</p>
              <div class="form-group row">
                {% for radio in form.delivery %}
                  <div class="custom-control custom-radio">
                      {{ radio.tag }}
                      <label class="custom-control-label" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                  </div>
                {% endfor %}
              </div>
              <p>Выберите способ подтверждения</p>
              <div class="form-group row">
                {% for radio in form.verification %}
                  <div class="custom-control custom-radio">
                      {{ radio.tag }}
                      <label class="custom-control-label" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                  </div>
                {% endfor %}
              </div>
              <p>
                <a href="#choices" class="btn btn-primary" data-toggle="collapse">Информация о доставке</a>
              </p>
              <div class="collapse" id="choices">
                <h5>Доставка по Санкт-Петербургу 200 рублей,<br />при покупке на сумму от 1500 рублей - бесплатно.</h5>
              </div>
            {% csrf_token %}
            <input type="submit" value="Оформить заказ">
          </form>
        </div>
        <div class="col-md-6">
          <ul>
            {% for item in cart %}
              <li>
                {{ item.quantity }}шт. {{ item.product.name }}
                <p>{{ item.total_price }}</p>
              </li>
              {% endfor %}
          </ul>
          <p>Общая сумма: {{ cart.get_total_price }}</p>
        </div>
    </div>
  </div>
{% endblock %}
