{% extends 'shop/base.html' %}

{% block title %}Оформление заказа{% endblock %}

{% block content %}

  <div class="create-order">
    <ul>
      {% for item in cart %}
        <li>
          {{ item.quantity }}шт. {{ item.product.name }}
          <p>{{ item.total_price }}</p>
        </li>
        {% endfor %}
    </ul>
    <p>Общая сумма: {{ cart.get_total_price }}</p>
  </div>

  <form action="." method="post" class="create-order-form">
    <p>Имя</p>
      <p>{{ form.first_name }}</p>
    <p>Фамилия</p>
      <p>{{ form.last_name}}</p>
    <p>Email</p>
      <p>{{ form.email }}</p>
    <p>Номер телефона</p>
      <p>{{ form.phone_number }}</p>
    <p>Адрес</p>
      <p>{{ form.address }}</p>
    {% csrf_token %}
    <input type="submit" value="Оформить заказ">
  </form>

{% endblock %}
