{% extends "shop/base_2.html" %}
{% load static %}

{% block title %}О нас{% endblock %}

{% block content %}
<hr class="featurette-divider">
<div class="row featurette-divider">
  <div class="col-md-7">
    <h2 class="featurette-divider">О компании.</h2>
    <p class="lead">Сеть магазинов «Мёдторг» более 17 лет предлагает на ваш вкус многообразие сортов натурального
       отборного цветочного мёда высшего качества и продуктов пчеловодства «пыльца,
       перга, прополис, маточное молочко, воск, натуральная косметика на основе продуктов пчеловодства)
     </p>
  </div>
  <div class="col-5-md">
    <img src="{% static 'img/slider-3.jpg' %}" height="500" width="500"
    class="bd-placeholder-img bd-placeholder-img-lg featurette-divider img-fluid mx-auto" alt="">
  </div>
</div>
<hr class="featurette-divider">
<div class="container-fluid">
  <div class="row featurette-divider">
    <div class="col-5-md">
      <img src="{% static 'img/slider-2.jpg' %}" height="500" width="500"
      class="bd-placeholder-img bd-placeholder-img-lg featurette-divider img-fluid mx-auto" alt="">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-divider text-right">Мы предлагаем.</h2>
      <p class="lead">Вкусный, полезный ,экологически чистый натуральный мёд из многих регионов России – Алтайский край, Дальний Восток, Хабаровский край, Амурская область, Приморский край, Поволжье, Псковская область, Ленинградская область, республика Чувашия, Марий-Эл, Краснодарский край, Орловская область, Ростовская область, Липецкая область, Самарская область, Сибирь, а также горных и предгорных районов Тянь-Шаня и других регионов.
        Вся продукция проверяется государственными службами ветеринарного надзора, имеет необходимые сертификаты и декларации соответствия. Продукция «Мёдторг» неоднократно отмечалась почетными наградами и дипломами за высокое качество продукции.
        Компания располагает собственной пасекой и современным цехом по расфасовке фирменного мёда.
       </p>
    </div>
  </div>
</div>
{% endblock %}
